/* client/src/individualCSS/Packages/packagedetails-dynamic-blocks.css */


/*---------------------------------------------
............. General Block Styling............
-----------------------------------------------  */

.all-common-dynamic-block {
    padding: 0;
    border: none;
}
.all-common-dynamic-block-content {
    line-height: 25.5px;
    color: #333;
    text-align: left;
}

/*---------------------------------------------
................. title style..................
-----------------------------------------------  */

/* outer title 1 2 3 */

.all-common-dynamic-block-outer.all-common-block-type-3 .all-common-dynamic-block-subtitle-top {
    font-size: 1.8rem !important; 
    font-weight: 700 !important;
    font-family: "poppins";
    background: linear-gradient(135deg, #2c5282, #4a90bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:1rem !important;
    margin-top: 0.4rem;
    padding-bottom: 0rem !important;
    border-bottom: 3px solid ;
    border-image: linear-gradient(135deg, #2c5282, #4a90bd) 1;
    text-align: left ;
    line-height: 1.3;
    display: inline-block ;
}
.all-common-dynamic-block-outer.all-common-block-type-2 .all-common-dynamic-block-subtitle-top {
    font-size: 1.7rem !important; 
    font-weight: 900 !important;
    font-family: "lisu bosa";
    background: linear-gradient(135deg, #2c5282, #4a90bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:0.6rem !important;
    margin-top: 0.4rem;
    padding-bottom: 0rem !important;
    text-align: left ;
    display: inline-block ;
}
.all-common-dynamic-block-outer.all-common-block-type-1 .all-common-dynamic-block-subtitle-top {
    display: none;
}

/* inner title 1 2 3 */
.all-common-dynamic-block.all-common-block-type-1 .all-common-dynamic-block-subtitle-bottom {
    font-size: 1.8rem !important; 
    font-weight: 900 !important;
    font-family: "lisu bosa";
    font-style: italic !important;
    background: linear-gradient(135deg, #2c5282, #4a90bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:1rem !important;
    margin-top: 0.4rem;
    padding-bottom: 0rem !important;
    border-bottom: 3px solid ;
    border-image: linear-gradient(135deg, #2c5282, #4a90bd) 1;
    text-align: left ;
    line-height: 1.3;
    display: inline-block ;
}
.all-common-dynamic-block-outer.all-common-block-type-2 .all-common-dynamic-block-subtitle-bottom {
    display: none;
}
.all-common-dynamic-block-outer.all-common-block-type-3 .all-common-dynamic-block-subtitle-bottom {
    display: none;
}


/*---------------------------------------------
...................block 1.....................
-----------------------------------------------  */

.all-common-dynamic-block.all-common-block-type-1 {
    width: 100%;
    overflow: auto; 
    margin-bottom: 3.5rem;
}

.all-common-block-type-1 .all-common-dynamic-block-image {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    min-height: auto;
    padding: 0;
    margin: 0 0 0.7rem 0;
}



/*---------------------------------------------
...................block 2.....................
-----------------------------------------------  */

.all-common-dynamic-block.all-common-block-type-2 {
    max-width: 100%;
    margin-bottom: 3.5rem;
    padding: 1rem 0.3rem;
    position: relative;
    background-color: var(--block-theme-color, transparent);
}


.all-common-block-type-2 .all-common-dynamic-block-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    float: left;
    margin: 0.3rem 1rem 0rem 1.3rem;
    border: 2px solid #fff;
}

/*---------------------------------------------
...................block 3.....................
-----------------------------------------------  */

.all-common-dynamic-block.all-common-block-type-3 {
    max-width: 100%;
    margin-bottom: 3.5rem;
    padding: 0.3rem;
    background-color: var(--block-theme-color, transparent);
}


/*---------------------------------------------
...................Responsive.....................
-----------------------------------------------  */
.all-common-dynamic-block-outer .package-small-screen-dynamic-block-div{
        padding:  0.8rem 0 !important;
    }
.all-common-dynamic-block-outer.all-common-block-type-3 .package-small-screen-dynamic-block-div{
        margin: 0 1.2rem !important;
    }
.all-common-dynamic-block-outer.all-common-block-type-2 .package-small-screen-dynamic-block-div{
        margin: 0 1.2rem !important;
    }

@media (max-width:580px){
    .all-common-dynamic-block .package-small-screen-dynamic-block-div{
        margin: 0 1.2rem;
    }

    .all-common-dynamic-block-outer.all-common-block-type-2 .all-common-dynamic-block-subtitle-top {
        margin-left: 1.2rem;
    }
    .all-common-dynamic-block-outer.all-common-block-type-3 .all-common-dynamic-block-subtitle-top {
        margin-left: 1.3rem;
    }
}
@media (max-width:480px){
    .all-common-block-type-2 .all-common-dynamic-block-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    float: none;
    margin: 0.3rem 1rem 1rem 1.3rem;
    border: 2px solid #fff;
}
}