.image-gallery-carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.package-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-gallery-carousel-container:hover .swiper-button-next, 
.image-gallery-carousel-container:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination {
  margin-bottom: 10px !important;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-gallery-carousel-container:hover .swiper-pagination {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.7) !important;
  width: 5px !important;
  height: 5px !important;
  margin: 0 5px !important;
  transition: all 0.3s;
  display: inline-block;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  transform: scale(1.1) !important;
}

.swiper-pagination-bullet-hidden {
  display: none;
}