@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.category-section {
  margin-bottom: 0 auto 3rem auto;
  
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  max-width: 1400px;
}
.category-title {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
  color: #333;
  padding-bottom: 0rem;
  /* border-bottom: 2px solid #eee; */
  margin-left: 0.5rem;
  font-family:   "Raleway";
}

.packages___grid{
  margin: 1rem auto 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1.5rem;
  /* padding: 0 1rem; */
  max-width: 1450px;
}
.packages___grid__list__column{
  margin: 1rem auto 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem;
  /* padding: 0 1rem; */
  max-width: 1300px;
  padding: 0 2rem;
}


/* @media (max-width: 1550px) {
  .packages___grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .packages___grid__list__column {
    grid-template-columns: repeat(5, 1fr);
  }
} */
@media (max-width: 1400px) {
  .packages___grid {
    grid-template-columns: repeat(4, 1fr);
  }
  /* .packages___grid__list__column {
    grid-template-columns: repeat(4, 1fr);
  } */
}
@media (max-width: 1120px) {
  .packages___grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .packages___grid__list__column {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .packages___grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .packages___grid__list__column {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 570px) {
  .packages___grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .packages___grid__list__column {
    grid-template-columns: repeat(1, 1fr);
    
  }

}


@media (max-width: 480px) {
  .packages___grid{
    grid-template-columns: 1fr;
  }
  .packages___grid__list__column{
    grid-template-columns: 1fr;
  }
}

.view-all-btn {
 color: rgb(4, 116, 245);
  text-decoration: underline;
  /* padding: 0.3rem 0.6rem; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.3s;
  white-space: nowrap;
  font-style: oblique;
}
.view-all-btn:hover {
 color: #1d4ed8;
}
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f1f1f1;
}
.horizontal-scroll-container::-webkit-scrollbar {
  height: 8px;
}
.horizontal-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.horizontal-scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.horizontal-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.discover___item___wrapper {
  margin-right: 1rem;
  flex-shrink: 0;
}
.swiper-wrapper{
  margin-bottom: 0.4rem;
}
