
.swiper-carousel-container {
  position: relative;
}
.swiper-container {
  padding-bottom: 40px; /* space for pagination */
}
.swiper-slide {
  /* width: auto; */
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
}
.swiper-button-next-custom, .swiper-button-prev-custom {
  color: #007bff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  width: 40px !important;
  height: 40px !important;
  transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;


  
}

.swiper-button-next-custom {
  right: 10px;
}

.swiper-button-prev-custom {
  left: 10px;
}

.swiper-carousel-container:hover .swiper-button-next-custom,
.swiper-carousel-container:hover .swiper-button-prev-custom {
  opacity: 1;
  visibility: visible;
}

.swiper-button-next-custom::after, .swiper-button-prev-custom::after {
  font-family: swiper-icons;
  font-size: 20px;
  text-rendering: auto;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 0.5;
  padding-bottom: 10px;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 13px;

  
  

  
  
}

.swiper-button-next-custom::after {
  content: 'next';
}

.swiper-button-prev-custom::after {
  content: 'prev';
}
.swiper-pagination-bullet {
  background: #007bff;
}
.swiper-pagination-bullet-active {
  background: #0056b3;
}
