.section___container{
  /* margin: 0rem 50px 0rem 50px; */
  padding: 2rem 2rem;
}




.discoverlanding___card{
   position: relative;
   justify-content: center;
    width:250px;
    cursor: pointer;
    height: 100%; 
    transition: 0.4s ease;
    /* z-index: -1; */
    z-index: 1;
    margin-bottom: 20px;
    padding-top: 9px;
    
}

.discoverlanding___card:hover .discoverlanding___img___fit {
  transform: scale(1.05);
  transition: transform 0.2s ease; 
}

.discoverlanding___card:hover .discoverlanding___card-content{

  box-shadow:
  0 0 0 #0000,
  0 0 0 #0000,
  0 0 0 #0000,
  0 0 0 #0000,
  0 7px 7px rgba(204, 203, 203, 0.788);
  transition: all 0.2s;

}


.discoverlanding___image{
  position: relative;
  height: 180px;
}

.discoverlanding___image___container{
    position: relative;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 180px;
 
}

.discoverlanding___img___fit{
  height: 180px;
    object-fit: cover;
     width: 100%;
     transition: 0.4s ease;
}

/* ................................ */

.ratinglanding___text{
  z-index: 1;
  position: relative;
  top: -173px;
  left: 8px;
  display: flex;
  text-align: center;
}



.ratinglanding___text{
  text-align: center;
  width: 150px;
  height: 150px;
  align-items: center;
  top: -191px;
  left: -10px;
  overflow: hidden;
  justify-content: center;
}

.ratinglanding___text::before{
  content: '';
  position: absolute;
  width: 180%;
  left: -60px;
  top: 10px;
  height: 45px;
  background-color: #36ac12;
  /* background-color: #62baea; */
  transform: rotate(-45deg);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    
}

.ratinglanding___text::after{
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  background:#309710;
  bottom: 10px;
  left: -1px;
  z-index: -1;
  box-shadow: 128px -129px #309710;
  

}

.Prioritylanding___Label{
  font-size: 18px;
  transform: rotate(-45deg) !important;
  margin-bottom: 40px;
  margin-right: 44px;
  letter-spacing: 0.1rem;
  text-align: center;
  /* background-color: red; */
  display: flex;
  line-height: 1.1;

  
  
  

}




/* ...........................  */


.discoverlanding___card-content{
  padding: 0 0.8rem;
  background: #fff;
  top: 350px;
  height: 156px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 7px 15px 7px 15px;
  box-shadow:
  0 0 0 #0000,
  0 0 0 #0000,
  0 0 0 #0000,
  0 0 0 #0000,
  0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}



.discover-landing-place{
  color: #1f2937;
  font-size: 18px;
  font-weight: 600;
  margin: 0 !important;
}

.discoverlanding-category{
  color:#2563eb;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins";
}

.discoverland-explor{
  padding: 6px 12px;
  background-color:#2563eb ;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s;
}

.discoverland-explor:hover{
  background-color: #1d54cc;
}