.tourdetails {
  background-color: #fff;
  color: #000;
  padding: 20px;
}

.booking-places-count {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.bookingplaces-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2px;
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .bookingplaces-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .bookingplaces-list {
    grid-template-columns: 1fr;
    justify-items: center; 
  }
}