
.order-details-container {
    padding: 2rem;
    background-color: #ffffff;
}

.order-details-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.card-body .detail-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

.card-body .detail-item strong {
    color: #0056b3;
}

.profile-image-container .profile-image {
    max-width: 150px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.summary-section, .cart-items-section, .cost-summary-section {
    margin-top: 2rem;
}

h4 {
    color: #333;
    /* border-bottom: 2px solid #0056b3; */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.summary-grid, .cost-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.summary-item, .cost-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.cost-item.total {
    font-weight: bold;
    background-color: #e6f0ff;
}

.table-order {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
}

.cart-order-th,.cart-order-td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-order-th {
    background-color: #f2f2f2;
}

.table img {
    cursor: pointer;
}

.download-pdf-btn {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1rem;
}

.download-pdf-btn:hover {
    background-color: #004494;
}
