/* ListOrders.css */

.list-orders-page {
  background: linear-gradient(to right, #232526, #414345);
  color: #fff;
  padding: 0rem 0.4rem 0 13rem;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  .list-orders-page {
   padding: 0rem 0.4rem 0 1rem;
  }
}
