
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.ql-container {
  /* border: 1.5px solid !important; */
  border-image: linear-gradient(to right, #007bff, #00bfff) !important;
  border-image-slice: 1 !important;
  border: 1 !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  height: 300px !important;
  border-top:none !important;
}

.ql-toolbar {
  border-image: linear-gradient(to right, #007bff, #00bfff) !important;
  border-image-slice: 1 !important;
  border: 1 !important;
}

span#ql-picker-options-27 {
    min-width: 170px;
    top: 30px;
    
}
span#ql-picker-options-28 {
    width: 170px;
    top: 30px;
   
}

span#ql-picker-options-30 {
    width: 170px;
     top: 30px;
}
span#ql-picker-options-31 {
    width: 170px;
    top: 30px;
}

.ql_editor_common {
  font-size: 15px;
  font-family: "inter", -apple-system,system-ui,  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent !important;
  color: #000000 !important;
  min-height: auto !important;
  padding: 0px ;
  margin: 0 !important;
  line-height: 1.5;
  height: auto;
  font-family: "inter";
  margin-bottom: 2rem !important;
}






/* Ensure all children inherit font size */
.ql_editor_common * {
  font-size: inherit;
}

/* Hide editor if empty */
.ql_editor_common:empty {
  display: none;
}

/* Placeholder text style */
.ql_editor_common.ql-blank::before {
  color: #666 !important;
}

/* Toolbar button styles */
.ql-toolbar button,
.ql-toolbar .ql-picker-label {
  color: #000000 !important;
  fill: #ccc !important;
}

.ql-toolbar button.ql-active,
.ql-toolbar .ql-picker-label.ql-active {
  color: #1977f3e7 !important;
  fill: #1977f3e7 !important;
}

/* Dropdowns and pickers */
.ql-picker {
  color: #ccc !important;
}

.ql-picker-options {
  background-color: #080f18 !important;
  border: 2px solid #080f18 !important;
}

.ql-picker-options .ql-picker-item {
  color: #ddd !important;
}

.ql-picker-options .ql-picker-item:hover {
  color: #0183fd !important;
}

/* Tooltip styling */
.ql-tooltip {
  background-color: #111011 !important;
  border: 1px solid #111011 !important;
  color: #fdf6f6 !important;
  border-radius: 7px;
  box-shadow: -1px 1px 3px rgb(0, 0, 0) !important;
  margin-left: 24% !important;
}

.ql-tooltip input[type=text] {
  background-color: #1e1e1e !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}

.ql-tooltip input[type=text]:focus {
  border-color: #1977f3e7 !important;
}

.ql-tooltip a {
  color: #0044ff !important;
}

.ql-tooltip .ql-action::after {
  color: #00aeff !important;
}

.ql-tooltip .ql-remove::before {
  color: red !important;
}

/* List items */
.ql_editor_common li, .ql_editor_common ol {
  margin-left: 0.6rem !important;
  padding: 0 !important;
  font-size: inherit;
  line-height: 1.5;
}

/* Code block */
.ql-syntax {
  background-color: #111 !important;
  color: #0f0 !important;
  padding: 8px;
  border-radius: 4px;
  font-family: monospace;
}

/* Scrollbar */
.ql_editor_common::-webkit-scrollbar {
  width: 8px;
}

.ql_editor_common::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.ql_editor_common::-webkit-scrollbar-track {
  background-color: #222;
}

/* Resize handles */
.ql-container .ql-resize {
  background-color: #666 !important;
}

/* Headings with dynamic font sizes */
.ql_editor_common h1,
.ql_editor_common h2,
.ql_editor_common h3,
.ql_editor_common h4,
.ql_editor_common h5,
.ql_editor_common h6 {
  color: black !important;
  font-weight: 700;
  line-height: 1.2;
}

/* Scaling headings proportionally to font size */
.ql_editor_common h1 {
  font-size: 29px;
}

.ql_editor_common h2 {
  font-size: 24px;
  text-align: left;
}

.ql_editor_common h3 {
  font-size:20px;
}

.ql_editor_common h4 {
  font-size: 17px;
}

.ql_editor_common h5 {
  font-size: 14px;
}

.ql_editor_common h6 {
  font-size: 11.6px;
}

/* Paragraphs */
.ql_editor_common p {
  margin: 0 ;
  /* font-size: var(--custom-font-size) !important ; */
  font-size: calc(var(--custom-font-size) );
  line-height: 25.5px;
  font-family: "inter", -apple-system,system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,"inter";
  /* font-weight: 400; */
  color: #333;

}

.ql_editor_common hr {
  border: none;
  border-top: 2px solid #ccc !important;
  margin: 20px 0;
}



/* Lists */
.ql_editor_common ul,
.ql_editor_common ol {
  padding-left: 1rem;
  margin-bottom: 1em;
 font-size:15px;
}

.ql_editor_common ul > li::marker {
  color: inherit !important;
}

.ql_editor_common ol > li::marker {
  color: inherit !important;
}

/* Bold text */
.ql_editor_common strong,
.ql_editor_common b {
  font-weight: 1000 !important;
  font-size:15px;
}

/* Blockquotes */
.ql_editor_common blockquote {
  border-left: 4px solid #999;
  padding-left: 1em;
  color: #aaa;
  margin: 1em 0;
  font-style: italic;
  font-size: 15px;
}

/* Code blocks inside editor */
.ql_editor_common pre {
  background-color: #2e2e2e;
  color: #eaeaea;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
  margin: 1em 0;
  font-size: 15px;
}

/* Links */
.ql_editor_common a {
  color: #ff8562;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 15px !important;
  line-height: 25.5px;
  text-decoration: underline;
}

.ql_editor_common a:hover {
  color: #2764df !important;
  text-decoration: underline;
}

/* Text alignment */
.ql_editor_common .ql-align-center {
  text-align: center;
}

.ql_editor_common .ql-align-right {
  text-align: right;
}

.ql_editor_common .ql-align-justify {
  text-align: justify;
}

/* Indentation */
.ql_editor_common .ql-indent-1 {
  margin-left: 3em;
}

.ql_editor_common .ql-indent-2 {
  margin-left: 6em;
}

.ql_editor_common .ql-indent-3 {
  margin-left: 9em;
}

/* Background highlight */
.ql_editor_common .ql-background-yellow {
  background-color: yellow;
}

/* Text color red */
.ql_editor_common .ql-color-red {
  color: red;
}

/* List marker colors */
.ql_editor_common ul li::before,
.ql_editor_common ol li::before {
  color: #1a1919;
}

/* Tables */
.ql_editor_common table {
  border-collapse: collapse;
  width: 100%;
}

.ql_editor_common table,
.ql_editor_common th,
.ql_editor_common td {
  border: 1px solid #444;
}

.ql_editor_common th,
.ql_editor_common td {
  padding: 8px;
}


.ql-snow{
  margin: 0 !important;
}

.ql-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin: 0 auto !important;
  
}




.ql_editor_common ol,
.ql_editor_common ul {
  /* margin: 0 0 1em 1.5em;
  padding: 0; */
  list-style: initial !important; 
  counter-reset: none !important;
}


.ql_editor_common li::before,
.ql_editor_common li::after {
  content: none !important;
  display: none !important;
}


.ql_editor_common li {
  list-style-position: outside !important;
  position: relative;
}


.ql_editor_common ol {
  counter-reset: item !important;
}


.ql_editor_common ul {
  list-style: disc !important;
  counter-reset: none !important;
}


.ql_editor_common li::before,
.ql_editor_common li::after {
  content: none !important;
}

