.country-selector {
  position: relative;
  width: 100%;
}

.country-selector-input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff; /* Light background */
  color: #000; /* Dark text */
}

.country-selector-input::placeholder {
  color: #999; /* Darker placeholder */
}

.country-selector-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff; /* Light background */
  z-index: 1000;
}

.country-selector-search {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  color: #000; /* Dark text */
}

.country-selector-option {
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000; /* Dark text */
}

.country-selector-option:hover {
  background-color: #eeebeb;
}

.country-selector-flag {
  margin-right: 10px;
  font-size: 1.5rem;
   font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
}



