.full-screen-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 20px;
  z-index: 9999999999999999999999999999999;


  
}

.full-screen-gallery::-webkit-scrollbar{
    display: none;
  }

.full-screen-gallery .gallery-content {
  position: relative;
  max-width: 1250px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(12.5rem,1fr));
  grid-auto-rows: 12.5rem;
  gap: 0.75rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
  
  

}

.gallery-content figure{
  position: relative;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0,1fr);
}
.gallery-content figure:hover .gallery-image{
  scale: 1.125;
}

.full-screen-gallery .gallery-image {
  /* width: 100%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
  border-radius: 8px; */
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;
  transition: scale 0.4s ease-in-out;
}

@media (width>480px){
.gallery-content figure:nth-child(1){
  grid-area: span 2 span 2;
  
}
.gallery-content figure:nth-child(4n+1){
  grid-row: span 2;

}
.gallery-content figure:nth-child(4n+2){
  grid-column: span 2;

}
}


.full-screen-gallery .show-less-button {
  
  position: relative;
  /* padding: 10px 20px; */
  /* background-color: #000; */
  /* color: #fff; */
  color: #2b8dca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
}


/* Lightbox styles */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  z-index: 999;
}

.lightbox-counter {
  font-size: 1.2rem;
}

.lightbox-actions .lightbox-action-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0px;
}

.lightbox-content {
  max-width: 100% !important;
  max-height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   /* margin:40px 0 40px 0 !important; */
}

.lightbox-image {
  max-width: 90% !important;
  height: 100% !important;
  object-fit: contain;
  position: relative;
}

@media (max-width:660px){
   .lightbox-image {
  max-width: 100% !important;
}
}

.lightbox-prev, .lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  padding: 10px;
}

.lightbox-prev {
  left: 20px;
}

.lightbox-next {
  right: 20px;
}

.lightbox-fullscreen-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 100000;
}