.monthHeader {
  position: relative;
  font-size: 14px;
  margin: 0 auto ;
  color: #fff;
  text-align: center;
  padding: 5px 12px;
  /* background-color: #e0f0ff; */
  background-color:#457b9d ;
  width: 140px;
  
}

.monthHeader::before,
.monthHeader::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70%; 
  height: 2px;
  background-color: #457b9d; 
 
  
}

.monthHeader::before {
  left: -100%;
  margin-left: 30%; 
}

.monthHeader::after {
  right: -100%; 
  margin-right: 30%; 
}
