.lightbox-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {

  /* padding: 1.5rem; */
  border-radius: 8px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  text-align: center;
}

.lightbox-image {
    max-width: 100%;
  max-height: 98vh !important;
  object-fit: contain;
  /* margin:40px 0 40px 0; */
  position: relative;
}

.discover-lightbox-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.lightbox-btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.download-btn {
  background-color: #28a745;
  color: white;
}

.download-btn:hover {
  background-color: #218838;
}

.close-btn {
  background-color: #dc3545;
  color: white;
}

.close-btn:hover {
  background-color: #c82333;
}