






.gallerygrid-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px,1fr));
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  grid-auto-rows: 13rem;
  gap: 0.75rem;
  margin: 0rem auto;
  grid-auto-flow: dense;
  padding-top: 1rem;
  
}

.gallerygrid-content figure {
   position: relative;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0,1fr);
}

.gallerygrid-content figure:hover .gallerygrid-image {
  scale: 1.125 !important;
}

.gallerygrid-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;
  transition: scale 0.4s ease-in-out;
}

@media (max-width:500px){
  .gallerygrid-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(140px,1fr));
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  grid-auto-rows: 110px;
  gap: 0.75rem;
  margin: 0rem auto;
  grid-auto-flow: dense;
  padding-top: 1rem;
  
}

}
@media (max-width:500px){
  .gallerygrid-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(140px,1fr));
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  grid-auto-rows: 140px;
  gap: 0.75rem;
  margin: 0rem auto;
  grid-auto-flow: dense;
  padding-top: 1rem;
  
}

}

/* 
  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 2;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  } */



  
.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 99;
}

.gallery-overlay-text {
  color: rgba(230, 227, 227, 0.904);
  font-size: 1.8rem;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
}























/* ........................................ */












/* 
.gallerygrid-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(12.5rem,1fr));
  grid-template-columns: repeat(3, minmax(6rem, 1fr));
  grid-auto-rows: 13rem;
  gap: 0.75rem;
  margin: 0rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

.gallerygrid-content figure {
   position: relative;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0,1fr);
}

.gallerygrid-content figure:hover .gallery-image {
  scale: 1.125;
}

.gallerygrid-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;
  transition: scale 0.4s ease-in-out;
}


  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 2;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  } */

/* 

@media (max-width: 1120px) {
   .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(15.5rem,1fr));
  grid-auto-rows: 12.5rem;
  gap: 0.75rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
   }
  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 1095px) {
   .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(12.5rem,1fr));
  grid-auto-rows: 12.5rem;
  gap: 0.75rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
   }
  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 950px) {
  
  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 900px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(15.5rem,1fr));
  grid-auto-rows: 12.5rem;
  gap: 0.75rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 835px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(12.5rem,1fr));
  grid-auto-rows: 12.5rem;
  gap: 0.75rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}

@media (max-width: 690px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(10.5rem,1fr));
  grid-auto-rows: 8.5rem;
  gap: 0.25rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}


@media (max-width: 575px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(8.5rem,1fr));
  grid-auto-rows: 6.5rem;
  gap: 0.25rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}

@media (max-width: 580px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(8rem,1fr));
  grid-auto-rows: 8rem;
  gap: 0.25rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 2;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 480px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(8rem,1fr));
  grid-auto-rows: 8rem;
  gap: 0.25rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 456px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(6rem,1fr));
  grid-auto-rows: 5rem;
  gap: 0.25rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 2 / span 2;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}
@media (max-width: 355px) {
  .gallerygrid-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(6rem,1fr));
  grid-auto-rows: 6rem;
  gap: 0.25rem;
  margin: 2rem auto;
  grid-auto-flow: dense;
  padding-top: 44px;
}

  .gallerygrid-content figure:nth-child(1) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(2) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(3) {
     grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(4) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(5) {
    grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(6) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(7) {
    grid-area: span 2 / span 1;
  }
  .gallerygrid-content figure:nth-child(8) {
     grid-area: span 1 / span 1;
  }
  .gallerygrid-content figure:nth-child(9) {
    grid-column: span 2;
  }
}

 */


/*  
.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 99;
}

.gallery-overlay-text {
  color: rgba(230, 227, 227, 0.904);
  font-size: 1.8rem;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
}

 */
