
.swiper-carousel-container {
  position: relative;
}
.swiper-container {
  padding-bottom: 40px; /* space for pagination */
}
.swiper-slide {
  width: 245px !important;
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
}
.swiper-button-next, .swiper-button-prev {
  color: #2b8dca !important;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px;
}
/* Default bullet style */
.swiper-pagination-bullet {
  background: #2b8dca !important;
  width: 9px !important;
  height: 9px !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #4a90bd !important;
  opacity: 1 !important;
  transform: scale(1.2);
}


.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev {
  background: #4a90bd !important;
  opacity: 0.8 !important;
}
